<div style="flex: 1 1 0;">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Quick filter</mat-label>
    <input matInput placeholder="chilli" [(ngModel)]="quickFilter" (ngModelChange)="changeFilter()">
  </mat-form-field>
  <ag-grid-angular style="height: 80vh; width: auto"
                   class="ag-theme-alpine"
                   [columnDefs]="colDefs"
                   [defaultColDef]="defaultColDef"
                   [rowData]="data"
                   (gridReady)="onGridReady($event)"
                   [pagination]="true">
  </ag-grid-angular>
</div>
