/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error.mat-snack-bar-container {
  background: #cc0000;
  color: white;
}

.success.mat-snack-bar-container {
  background: #00cc11;
  color: white;
}

.note {
  font-size: 12px;
  margin-right: 5px;
}

.light {
  color: #b9b8b8;
}

.lightred-background {
  background: #ffcccc;
}

.spacer {
  flex: 1 1 auto;
}

.table-title {
  text-align: center;
  display: inline-block;
  width: 65%;
}

table {
  width: 100%;
}

tr.default-detail-row {
  height: 0 !important;
}

tr.default-element-row:not(.default-expanded-row):hover {
  background: whitesmoke;
}

tr.default-element-row:not(.default-expanded-row):active {
  background: #efefef;
}

.default-element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 20px
}

.default-element-detail.row {
  flex-direction: row !important;
  margin: 0 !important;
  max-height: 250px;
}

.order-form-field {
  display: flex;
  flex-direction: column;
  width: 40%;
  flex-grow: 3;
  margin-right: 3em;
}
.order-form-field-rec {
  display: flex;
  flex-direction: column;   
  padding-bottom:0px !important;
}
.order-form-field-pdf {
  display: flex;
  flex-direction: column;
  width: 32%;
  flex-grow: 0;
  margin-right: 3em;
}

.order-form-field h3 {
  margin-bottom: 0;
}

.order-form-field-rec h3 {
  margin-bottom: 0;
}

.order-form-container {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.order-form-container-rec {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom:0px !important;
}

mat-card-actions > button {
  width: 10em !important;
}

.mat-input-element:disabled, .mat-select-disabled .mat-select-value {
  color: black;
  font-weight: 500;
}

.order-time-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.order-time {
  margin: 20px;
}

.menu-no-padding > .mat-menu-content {
  padding: 0 !important;
}

.menu-no-padding > .mat-menu-content > p {
  padding: 8px !important;
}

.slim-list-item.mat-list-item {
  height: 35px !important;
}

td.cell-no-padding {
  padding: 0 !important;
}

.flex-break {
  flex-basis: 100%;
}

.order-pdf-h3{
  margin: 0 !important;;
}