/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error.mat-snack-bar-container {
  background: #cc0000;
  color: white;
}

.success.mat-snack-bar-container {
  background: #00cc11;
  color: white;
}

.note {
  font-size: 12px;
  margin-right: 5px;
}

.light {
  color: #b9b8b8;
}

.lightred-background {
  background: #ffcccc;
}

.spacer {
  flex: 1 1 auto;
}

.table-title {
  text-align: center;
  display: inline-block;
  width: 65%;
}

table {
  width: 100%;
}
tr.default-detail-row {
  height: 0 !important;
}

tr.default-element-row:not(.default-expanded-row):hover {
  background: whitesmoke;
}

tr.default-element-row:not(.default-expanded-row):active {
  background: #efefef;
}

.default-element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 20px
}

.order-form-field {
  display: flex;
  flex-direction: column;
  width: 40%;
  flex-grow: 3;
  margin-right: 3em;
}

.order-form-field h3 {
  margin-bottom: 0;
}

.order-form-container {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

mat-card-actions > button {
  width: 10em !important;
}

