<mat-toolbar>
  <mat-toolbar-row>
    <div style="font-size: 15px">
      <mat-form-field appearance="outline" style="margin: 20px 10px 0; padding: 0">
        <mat-label>{{'head.quickFilter' | translate}}</mat-label>
        <input matInput placeholder="operator" [(ngModel)]="quickFilter" (ngModelChange)="changeFilter()">
        <span matSuffix><mat-icon>filter_alt</mat-icon></span>
      </mat-form-field>
    </div>
    <h2 class="table-title">{{'navBar.users' | translate}}</h2>
    <span class="spacer"></span>
    <button mat-button (click)="addUser()">
      <mat-icon>add</mat-icon>
      {{'users.addUser' | translate}}
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<table mat-table
       matSort
       [dataSource]="dataSource"
       class="mat-elevation-z8">
  <ng-container [matColumnDef]="column.field" *ngFor="let column of columnsToDisplay ; let i = index">
    <th mat-header-cell *matHeaderCellDef mat-sort-header
        [style]="{'width': column.width || 'auto'}"> {{'userTableHead.'+i+'.item' | translate}} </th>
    <ng-container *ngIf="column.field === 'registrationDate' || column.field === 'lastLoginDate'; else normalTd">
<!--      Dates are saved without timezone (MsSQL stuff), so we display them as UTC-->
      <td mat-cell *matCellDef="let element"> {{element[column.field] | date : 'd.M.y, HH:mm:ss' : 'UTC'  }} </td>
    </ng-container>
    <ng-template #normalTd>
      <td mat-cell *matCellDef="let element"> {{element[column.field]}} </td>
    </ng-template>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions" style="width: 15%;">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" aria-label="Edit item" (click)="onEditClick(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Delete item" (click)="onDeleteClick(element)">
        <mat-icon>delete_forever</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Change password" (click)="onChangePassword(element)">
        <mat-icon>lock_reset</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="allColumnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: allColumnsToDisplay;"
      class="default-element-row">
  </tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">{{'head.noDataFilter' | translate}} "{{quickFilter}}".</td>
  </tr>
</table>
<div *ngIf="isLoading"
     style="display: flex; justify-content: center; align-items: center; background: white;">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
