<h1 mat-dialog-title>
  {{
    data.editMode
      ? ("dialogRecipe.edit" | translate)
      : ("dialogRecipe.create" | translate)
  }}
  {{ data.editMode ? data.recipe.id : "" }}
</h1>
<div mat-dialog-content style="height: auto; width: 100%; max-height: 555px">
  <form [formGroup]="form">
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>{{ "recipeTableHead.2.item" | translate }}</mat-label>
      <input matInput placeholder="Name" formControlName="name" />
      <mat-error *ngIf="name!.hasError('required')">
        {{ "recipeTableHead.2.item" | translate }}
        {{ "dialogRecipe.requiredName" | translate }}
      </mat-error>
      <mat-error *ngIf="name!.hasError('minlength')">
        {{ "recipeTableHead.2.item" | translate }}
        {{ "dialogRecipe.minlengthName" | translate }}
      </mat-error>
     <mat-error *ngIf="name!.hasError('maxlength')">
        {{ "recipeTableHead.2.item" | translate }}
        {{ "dialogRecipe.maxlengthName" | translate }}
      </mat-error> 
      <mat-error *ngIf="name!.hasError('invalidRecipeName')">
        {{ "dialogRecipe.invalidName" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>{{ "recipeTableHead.1.item" | translate }}</mat-label>
      <input matInput placeholder="ID" formControlName="id" />
      <mat-error *ngIf="id!.hasError('required')">
        {{ "recipeTableHead.1.item" | translate }}
        {{ "dialogRecipe.requiredName" | translate }}
      </mat-error>
      <mat-error *ngIf="id!.hasError('minlength')">        
        {{ "recipeTableHead.1.item" | translate }}
        {{ "dialogRecipe.minlengthName" | translate }}
      </mat-error>
      <mat-error *ngIf=" id!.hasError('maxlength')">        
        {{ "recipeTableHead.1.item" | translate }}
        {{ "dialogRecipe.maxlengthID" | translate }}
      </mat-error>
      <mat-error *ngIf="id!.hasError('invalidRecipeId')">
        {{ "dialogRecipe.invalidId" | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label> {{ "navBar.components" | translate }}</mat-label>
      <mat-chip-list #chipList aria-label="Components selection">
        <mat-chip
          *ngFor="let component of selectedComponents"
          (removed)="remove(component)"
        >
          {{ component.name }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="{{ 'dialogRecipe.newComponent' | translate }}"
          #componentInput
          [formControl]="newComponent"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
          [readOnly]="selectedComponents.length > 30"
        />
      </mat-chip-list>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event)"
      >
        <mat-option
          *ngFor="let component of filteredComponents | async"
          [value]="component">
          <span class="light note">{{ component.id }}</span>
          {{ component.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div
      formArrayName="components"
      *ngFor="let component of components.controls; let i = index"
    >
      <div [formGroupName]="i">
        <mat-form-field style="width: 20%" appearance="outline">
          <mat-label> {{ "recipeTableHead.1.item" | translate }}</mat-label>
          <input
            matInput
            readonly
            formControlName="id"
            id="componentID{{ i }}"
          />
        </mat-form-field>
        <mat-form-field style="width: 50%" appearance="outline">
          <mat-label> {{ "recipeTableHead.2.item" | translate }}</mat-label>
          <input
            matInput
            readonly
            formControlName="name"
            id="componentName{{ i }}"
          />
        </mat-form-field>
        <mat-form-field style="width: 30%" appearance="outline">
          <mat-label> {{ "dialogRecipe.quantity" | translate }}</mat-label>
          <input
            matInput
            placeholder="10"
            formControlName="quantity"
            id="componentSP{{ i }}"
            type="number"
            min="0"
            onfocus="this.select()"
          />
          <span matSuffix>kg</span>
        </mat-form-field>
      </div>
    </div>
    <mat-toolbar style="height: 30px">
      <span style="font-weight: bold">{{ "dialogRecipe.weightCheck" | translate }}</span>
      <span class="spacer"></span>
      <span
        >{{ currentWeight | number :'1.3-3':'sk' }}/{{ targetWeight }}
        <mat-icon
          *ngIf="currentWeight === targetWeight; else crossIcon"
          style="color: green; vertical-align: sub"
          >done</mat-icon
        >
        <ng-template #crossIcon>
          <mat-icon style="color: darkred; vertical-align: sub">close</mat-icon>
        </ng-template>
      </span>
    </mat-toolbar>
    <mat-toolbar style="height: 30px">
      <span style="font-weight: bold">{{ "dialogRecipe.numberOfCompoents" | translate }}</span>
      <span class="spacer"></span>
      <span
        >{{ cQunatity }}/{{ targetQunatity }}
        <mat-icon
          *ngIf="cQunatity <= targetQunatity && cQunatity > 0; else crossIcon"
          style="color: green; vertical-align: sub"
          >done</mat-icon
        >
        <ng-template #crossIcon>
          <mat-icon style="color: darkred; vertical-align: sub">close</mat-icon>
        </ng-template>
      </span>
    </mat-toolbar>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">{{ "dialogService.cancel" | translate }}</button>
  <button
    mat-button
    [mat-dialog-close]="getFormValue()"
    [disabled]="
      !form.valid ||
      !form.dirty ||
      currentWeight !== targetWeight ||
      cQunatity > targetQunatity ||
      cQunatity === 0
    "
  >
  {{ "dialogService.save" | translate }}
  </button>
</div>
