<mat-card>
  <mat-card-title>Order detail</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
      <fieldset [disabled]="!editable" class="order-form-container">
        <div class="order-form-field">
          <h3>Order ID</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="ID" formControlName="id">
            <mat-error *ngIf="id.hasError('invalidOrderId')">This order id is already in use.</mat-error>
            <mat-error *ngIf="id.hasError('maxlength') || id.hasError('minlength')">
              Order ID must be exactly 10 characters.</mat-error>
          </mat-form-field>
        </div>
        <div class="order-form-field">
          <h3>Order name</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="name!.hasError('invalidOrderName')">This order name is already in use.</mat-error>
            <mat-error *ngIf="name!.hasError('minlength')">
              Order name must be at least 3 characters long.</mat-error>
          </mat-form-field>
        </div>
        <div class="order-form-field">
          <h3>Customer name</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Customer name" formControlName="customerName">
          </mat-form-field>
        </div>
        <div class="order-form-field">
          <h3>Due date</h3>
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="picker" formControlName="dueDate" [min]="now">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <!--        <ng-container *ngIf="order?.recipe; else selectRecipe">-->
        <!--          <div class="order-form-field">-->
        <!--            <h3>Recipe ID</h3>-->
        <!--            <mat-form-field appearance="outline">-->
        <!--              <input matInput placeholder="Recipe ID" formControlName="customerName">-->
        <!--            </mat-form-field>-->
        <!--          </div>-->

        <!--        </ng-container>-->
        <!--        <ng-template #selectRecipe>-->
        <div class="order-form-field">
          <h3>Recipe</h3>
          <mat-form-field appearance="outline">
            <mat-select (selectionChange)="recipeSelected()" placeholder="Recipe" [(ngModel)]="selectedRecipe"
              [ngModelOptions]="{ standalone: true }" [disabled]="!editable" required #recipeSelect>
              <mat-select-trigger>
                <span>{{ selectedRecipe?.id }} - {{ selectedRecipe?.name }}</span>
              </mat-select-trigger>
              <ng-container *ngFor="let recipe of recipes">
                <mat-option [value]="recipe">
                  {{ recipe.id }} - {{recipe.name}}
                  <button mat-icon-button [matMenuTriggerFor]="menu" style="float: right"
                    (click)="$event.stopPropagation()">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </mat-option>
                <mat-menu #menu="matMenu" class="recipeList">
                  <mat-list style="width: 500px;">
                    <h3 style="text-align: center;">Components</h3>
                    <ng-container *ngFor="let component of recipe.components; let i = index">
                      <mat-list-item>
                        <div matLine>
                          <p style="float:left; width: 330px;">
                            <span class="light note">{{component.id}}</span>
                            {{component.name}}

                          </p>
                          <p>| W:{{component.componentSP |number :'1.3-3'}} kg</p>
                        </div>
                      </mat-list-item>
                      <mat-divider *ngIf="i !== recipe!.components!.length! - 1"></mat-divider>
                    </ng-container>
                    <span style="margin: auto" *ngIf="recipe?.components?.length === 0">No components in this
                      recipe.</span>
                  </mat-list>
                </mat-menu>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <!--        </ng-template>-->
        <div class="order-form-field">
          <h3>Quantity</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Quantity" type="number" min="0" formControlName="quantity">

          </mat-form-field>
        </div>

        <div style="flex-direction: column; width: 100%; margin-bottom: 20px" *ngIf="selectedRecipe?.components"
          [@grow]>
          <mat-list>
            <div style="width: 100%; display: flex;">

              <h2>Components/Recipe</h2>
            </div>

            <ng-container *ngFor="let component of selectedRecipe?.components; let i = index" ;>

              <mat-list-item>
                <div matLine>
                  <div style="width: 100%; display: flex;">

                    <p style="float:left; ">
                      <mat-form-field appearance="outline" style="width: 20%" class=" note" [ngClass]="{
                          gridC: i % 2 > 0
                        }">
                        <mat-label>ID</mat-label>
                        <input matInput placeholder="0000000001" readonly [value]=" component.id">
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width: 250px" class="note" [ngClass]="{
                          gridC: i % 2 > 0
                        }">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="0000000001" readonly [value]="component.name">
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width: 10%" class="note" [ngClass]="{
                          gridC: i % 2 > 0
                        }">
                        <mat-label>Weight</mat-label>
                        <input matInput placeholder="0000000001" readonly
                          [value]="component.componentSP | number :'1.3-3'">
                        <span matSuffix>KG</span>
                      </mat-form-field>
                      
                      <mat-form-field appearance="outline" style="width: 12%" class="note" [ngClass]="{
                          gridC: i % 2 > 0
                        }">
                        <mat-label>Specific bulk weight</mat-label>
                        <input matInput placeholder="0000000001" readonly
                          [value]="component.specificBulkWeight.toFixed(3)">
                        <span matSuffix>KG/L</span>
                      </mat-form-field>

                      <ng-container formArrayName="packingOrders">
                        <mat-form-field [formGroupName]="i" appearance="outline" style="width: 10%; " class="note"
                          [ngClass]="{
                            gridC: i % 2 > 0
                          }">
                          <mat-label>Packing</mat-label>
                          <mat-select formControlName="packingType">
                            <mat-option *ngFor="let packingOrder of packingSelect" [value]="packingOrder.value">
                              {{packingOrder.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </ng-container>
                      <ng-container formArrayName="packingOrders">
                        <mat-form-field [formGroupName]="i" appearance="outline" style="width: 10%; " class="note"
                          [ngClass]="{
                            gridC: i % 2 > 0, hideItem: this.form.value.packingOrders[i].packingType > 0 || this.form.value.packingOrders[i].packingType == null
                          }">
                          <mat-label>Packing Weight</mat-label>
                          <input matInput placeholder="Mixing time" type="number" min="{{this.form.value.packingOrders[i].packingType == 0 ? 1 :0}}" formControlName="packingWeight">
                          <span matSuffix>kg</span>
                        </mat-form-field>
                      </ng-container>


                      <!-- <ng-container  > -->
                      <!-- <mat-form-field
                            appearance="outline"
                            style="width: 10%"
                            class="note" 
                            formArrayName="packingWeight"
                            [ngClass]="{
                              hideItem: this.form.value.packingOrder > 0 ,
                              gridC: i % 2 > 0
                            }"
                          >
                            <mat-label>Packing</mat-label>
                            <input
                              matInput
                              placeholder="0000000001"
                              readonly
                              formControlName="{{i}}"
                            />
                            <span matSuffix>KG</span>
                          </mat-form-field> -->

                      <mat-form-field appearance="outline" style="width: 20%" class="note" [ngClass]="{
                            gridC: i % 2 > 0
                          }">
                        <mat-label>Weight</mat-label>
                        <input matInput placeholder="0000000001"
                          [value]="component.componentSP * (this.form.value.quantity/100) |number :'1.3-3'">
                        <span matSuffix>KG</span>
                      </mat-form-field>
                      <!-- </ng-container> -->
                      <!-- [(ngModel)]="this.orderComponent.length <= i   ? this.packingOrderValue[i] = 0: this.packingOrderValue[i] = this.orderComponent[i].packingOrder "      -->
                    </p>
                  </div>


                </div>
              </mat-list-item>
              <!-- <mat-divider *ngIf="i !== selectedRecipe!.components!.length! - 1"></mat-divider> -->
            </ng-container>

            <span style="margin: auto" *ngIf="selectedRecipe!.components?.length === 0">No components in this
              recipe.</span>
          </mat-list>
        </div>

        <!-- <div class="order-form-field">
          <h3>Mixer ID</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Mixer ID"c min="1" max="4" type="number" formControlName="idMixer">
            <mat-error *ngIf="idMixer!.invalid">Valid mixer IDs are 1-4.</mat-error>
          </mat-form-field>
        </div> -->

        <div class="order-form-field">
          <h3>Mixer ID</h3>
          <mat-form-field appearance="outline">

            <mat-select formControlName="idMixer" placeholder="Mixer ID" c min="1" max="3" type="number">
              <mat-option *ngFor="let slecetIdMixer of slecetIdMixers" [value]="slecetIdMixer.value">
                {{slecetIdMixer.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="idMixer!.invalid">Valid mixer IDs are 1-3.</mat-error>
          </mat-form-field>
        </div>

        <div class="order-form-field">
          <h3>Mixing time</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Mixing time" type="number" min="1" formControlName="mixingTime">
            <span matSuffix>min</span>
          </mat-form-field>
        </div>

        <div class="order-form-field">
          <h3>Packing machine ID</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Packing machine ID" formControlName="idPackingMachine" min="1" max="8"
              type="number">
            <mat-error *ngIf="idPackingMachine!.invalid">Valid packing machine IDs are 1-8.</mat-error>
          </mat-form-field>
        </div>

        <div class="order-form-field">
          <h3>Emptying station ID</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Emptying station ID" formControlName="idEmptyingStationBag" min="1" max="4"
              type="number">
            <mat-error *ngIf="idEmptyingStationBag!.invalid">Valid packing machine IDs are 1-4.</mat-error>
          </mat-form-field>
        </div>

        <div class="order-form-field">
          <h3>Volume per dose</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Volume" type="number" min="50" max="700" formControlName="volumePerDose">
            <mat-error *ngIf="volumePerDose!.invalid">Valid volumes are 50-700.</mat-error>
            <span matSuffix>L</span>
          </mat-form-field>
        </div>

        <div class="order-form-field">
          <h3>Operator</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Operator" formControlName="operatorName" readonly>
          </mat-form-field>
        </div>

      </fieldset>
    </form>

    <div *ngIf="!isNew" class="order-time-container">
      <div class="order-time">
        <h3>Created at</h3>
        <span>{{order?.createdAt | date: 'dd/MM/yyyy HH:mm'}}</span>
      </div>
      <div class="order-time">
        <h3>Last update</h3>
        <span>{{order?.lastUpdate | date: 'dd/MM/yyyy HH:mm'}}</span>
      </div>
      <div *ngIf="order?.completedAt" class="order-time">
        <h3>Completed at</h3>
        <span>{{order?.completedAt | date: 'dd/MM/yyyy HH:mm'}}</span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="backToOrder();">
      <mat-icon>arrow_back</mat-icon>
      Back to order
    </button>
    <button mat-icon-button color="danger" aria-label="Edit item" (click)="onEditClick()" *ngIf="!editable">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button mat-icon-button color="primary" aria-label="Edit item" (click)="offEditClick()" *ngIf="editable">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button mat-icon-button color="danger" aria-label="Delete item" (click)="onDeleteClick()">
      <mat-icon>delete_forever</mat-icon>
      Delete
    </button>

    <button mat-button (click)="recalculateRecipe()">
      <mat-icon>save</mat-icon>
      Save
    </button>    
    <button mat-button (click)="buttonCheck()">
      <mat-icon>save</mat-icon>
      check
    </button>    
  </mat-card-actions>
</mat-card>