<mat-card>
  <mat-card-title>{{'navBar.orderDetail'| translate}}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" >
      <fieldset [disabled]="!editable" class="order-form-container" >
        <div class="order-form-field">
          <h3>{{'orderTableHead.1.item' | translate}}</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'orderTableHead.1.item' | translate}}" formControlName="id">
            <mat-error *ngIf="id.hasError('invalidOrderId')">{{'dialogOrder.invalidId' | translate}}</mat-error>
            <mat-error *ngIf=" id.hasError('minlength')">
              {{'orderTableHead.1.item' | translate}}{{'dialogOrder.minlengthName' | translate}}
            </mat-error>
              <mat-error *ngIf="id.hasError('maxlength') ">
                {{'orderTableHead.1.item' | translate}}{{'dialogOrder.maxlengthID' | translate}}
              </mat-error>
          </mat-form-field>
        </div>
        <div class="order-form-field">
          <h3>{{'orderTableHead.2.item' | translate}}</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'orderTableHead.2.item' | translate}}" formControlName="name">
            <mat-error *ngIf="name!.hasError('invalidOrderName')">
              {{'dialogOrder.invalidId' | translate}}
            </mat-error>
            <mat-error *ngIf="name!.hasError('minlength')">
              {{'orderTableHead.2.item' | translate}}{{'dialogOrder.minlengthName' | translate}}
            </mat-error>
            <mat-error *ngIf="name!.hasError('maxlength')">
              {{'orderTableHead.2.item' | translate}}{{'dialogOrder.maxlengthName' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="order-form-field">
          <h3>{{'orderTableHead.3.item' | translate}}</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'orderTableHead.3.item' | translate}}" formControlName="customerName">
            <mat-error *ngIf="customerName!.hasError('minlength')">
              {{'orderTableHead.3.item' | translate}}{{'dialogOrder.minlengthName' | translate}}
            </mat-error>
            <mat-error *ngIf="customerName!.hasError('maxlength')">
              {{'orderTableHead.3.item' | translate}}{{'dialogOrder.maxlengthName' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="order-form-field">
          <h3>{{'orderTableHead.4.item' | translate}}</h3>
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="picker" formControlName="dueDate" [min]="now">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <!--        <ng-container *ngIf="order?.recipe; else selectRecipe">-->
        <!--          <div class="order-form-field">-->
        <!--            <h3>Recipe ID</h3>-->
        <!--            <mat-form-field appearance="outline">-->
        <!--              <input matInput placeholder="Recipe ID" formControlName="customerName">-->
        <!--            </mat-form-field>-->
        <!--          </div>-->

        <!--        </ng-container>-->
        <!--        <ng-template #selectRecipe>-->
        <!-- <div class="order-form-field">
          <h3>{{'dialogOrder.recipe'| translate}}</h3>
          <mat-form-field appearance="outline">
            <mat-select (selectionChange)="recipeSelected()" placeholder="{{'dialogOrder.recipe'| translate}}" [(ngModel)]="selectedRecipe"
              [ngModelOptions]="{ standalone: true }" [disabled]="!editable" required #recipeSelect>
              <mat-select-trigger>
                <span>{{ selectedRecipe?.id }} - {{ selectedRecipe?.name }}</span>
              </mat-select-trigger>
              <ng-container *ngFor="let recipe of recipes">
                <mat-option [value]="recipe">
                  {{ recipe.id }} - {{recipe.name}}
                  <button mat-icon-button [matMenuTriggerFor]="menu" style="float: right"
                    (click)="$event.stopPropagation()">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </mat-option>
                <mat-menu #menu="matMenu" class="recipeList">
                  <mat-list style="width: 500px;">
                    <h3 style="text-align: center;">{{'navBar.components'| translate}}</h3>
                    <ng-container *ngFor="let component of recipe.components; let i = index">
                      <mat-list-item>
                        <div matLine>
                          <p style="float:left; width: 330px;">
                            <span class="light note">{{component.id}}</span>
                            {{component.name}}

                          </p>
                          <p>| W:{{component.componentSP | number :'1.3-3':'sk'}} kg</p>
                        </div>
                      </mat-list-item>
                      <mat-divider *ngIf="i !== recipe!.components!.length! - 1"></mat-divider>
                    </ng-container>
                    <span style="margin: auto" *ngIf="recipe?.components?.length === 0">{{'dialogRecipe.noComponents'| translate}}</span>
                  </mat-list>
                </mat-menu>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div> -->
        <div class="order-form-field">

          <h3>{{'dialogOrder.recipe'| translate}}</h3>
        <mat-form-field class="example-full-width" appearance="outline">
          
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput                 
                 [matAutocomplete]="auto"
                 [formControl]="myControl" 
                 [(ngModel)]="selectedRecipe"
                 placeholder="{{'dialogOrder.recipe'| translate}}" 
                 (focus)="reload()"             
                 #recipeSelect
                 >
                 <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="recipeSelected($event)">
          <ng-container *ngFor="let option of filteredComponents | async">       
          
            <mat-option  [value]="option">
              {{ option.id }} - {{option.name}}
              <button mat-icon-button [matMenuTriggerFor]="menu" style="float: right"
                    (click)="$event.stopPropagation()">
                    <mat-icon>more_vert</mat-icon>
              </button>
            </mat-option>
          
          <mat-menu #menu="matMenu" class="recipeList">
            <mat-list style="width: 500px;">
              <h3 style="text-align: center;">{{'navBar.components'| translate}}</h3>
              <ng-container *ngFor="let component of option.components ; let i = index">
                <mat-list-item>
                  <div matLine>
                    <p style="float:left; width: 330px;">
                      <span class="light note">{{component.id}}</span>
                      {{component.name}}

                    </p>
                    <p>| V:{{component.componentSP | number :'1.3-3':'sk'}} kg</p>
                  </div>
                </mat-list-item>
                <mat-divider *ngIf="i !== option!.components!.length! - 1"></mat-divider>
              </ng-container>
              <span style="margin: auto" *ngIf="option?.components?.length === 0">{{'dialogRecipe.noComponents'| translate}}</span>
            </mat-list>
          </mat-menu>
        </ng-container>
      </mat-autocomplete>
        </mat-form-field>
      </div>
        <!--        </ng-template>-->
        <div class="order-form-field">
          <h3>{{'dialogOrder.quantity'| translate}}</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'dialogOrder.quantity'| translate}}" type="number" min="1" formControlName="quantity">

          </mat-form-field>
        </div>

        <div style="flex-direction: column; width: 100%; margin-bottom: 20px" *ngIf="selectedRecipe?.components"
          [@grow]>
          <mat-list>
            <div style="width: 100%; display: flex;">

              <h2>{{'navBar.components'| translate}}</h2>
            </div>

            <ng-container *ngFor="let component of selectedRecipe?.components; let i = index" ;>

              <mat-list-item>
                <div matLine>
                  <div style="width: 100%; display: flex;">

                    <p style="float:left; ">
                      <mat-form-field appearance="outline" style="width: 20%" class=" note" [ngClass]="{
                          gridC: i % 2 > 0
                        }">
                        <mat-label>{{'componentsTableHead.1.item'| translate}}</mat-label>
                        <input matInput placeholder="{{'componentsTableHead.1.item'| translate}}" readonly [value]=" component.id">
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width: 250px" class="note" [ngClass]="{
                          gridC: i % 2 > 0
                        }">
                        <mat-label>{{'componentsTableHead.2.item'| translate}}</mat-label>
                        <input matInput placeholder="{{'componentsTableHead.2.item'| translate}}" readonly [value]="component.name">
                      </mat-form-field>
                      <mat-form-field appearance="outline" style="width: 10%" class="note" [ngClass]="{
                          gridC: i % 2 > 0
                        }">
                        <mat-label>{{'dialogOrder.quantity'| translate}}</mat-label>
                        <input matInput placeholder="{{'dialogOrder.quantity'| translate}}" readonly
                          [value]="component.componentSP | number :'1.3-3':'sk'">
                        <span matSuffix>KG</span>
                      </mat-form-field>
                      
                      <mat-form-field appearance="outline" style="width: 12%" class="note" [ngClass]="{
                          gridC: i % 2 > 0
                        }">
                        <mat-label>{{'componentsTableHead.3.item'| translate}}</mat-label>
                        <input matInput placeholder="{{'componentsTableHead.3.item'| translate}}" readonly
                          [value]="component.specificBulkWeight | number :'1.3-3':'sk'">
                        <span matSuffix>KG/L</span>
                      </mat-form-field>

                      <ng-container formArrayName="packingOrders"  >
                        <mat-form-field [formGroupName]="i"  appearance="outline" style="width: 10%; " class="note"
                          [ngClass]="{
                            gridC: i % 2 > 0
                          }">
                          <mat-label>{{'dialogOrder.typeOfPacking'| translate}}</mat-label>
                          <mat-select formControlName="packingType"   [disabled]="!editable"  >
                            <mat-option *ngFor="let packingOrder of 'selectPacking'|translate" [value]="packingOrder.value">
                              {{packingOrder.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </ng-container>
                      <ng-container formArrayName="packingOrders">
                        <mat-form-field [formGroupName]="i"  appearance="outline" style="width: 10%; " class="note"
                          [ngClass]="{
                            gridC: i % 2 > 0, hideItem: this.form.value.packingOrders[i].packingType > 0 || this.form.value.packingOrders[i].packingType == null
                          }">
                          <mat-label>{{'dialogOrder.packingWeight'| translate}}</mat-label>
                          <input matInput placeholder="{{'dialogOrder.packingWeight'| translate}}" type="number" min="{{this.form.value.packingOrders[i].packingType == 0 ? 1 :0}}" formControlName="packingWeight">
                          <span matSuffix>kg</span>
                        </mat-form-field>
                      </ng-container>


                      <!-- <ng-container  > -->
                      <!-- <mat-form-field
                            appearance="outline"
                            style="width: 10%"
                            class="note" 
                            formArrayName="packingWeight"
                            [ngClass]="{
                              hideItem: this.form.value.packingOrder > 0 ,
                              gridC: i % 2 > 0
                            }"
                          >
                            <mat-label>Packing</mat-label>
                            <input
                              matInput
                              placeholder="0000000001"
                              readonly
                              formControlName="{{i}}"
                            />
                            <span matSuffix>KG</span>
                          </mat-form-field> -->

                      <mat-form-field appearance="outline" style="width: 20%" class="note" [ngClass]="{
                            gridC: i % 2 > 0
                          }">
                        <mat-label>{{'dialogOrder.weightPerOrder'| translate}}</mat-label>
                        <input matInput placeholder="{{'dialogOrder.weightPerOrder'| translate}}"
                          [value]="component.componentSP * (this.form.value.quantity/100) | number :'1.3-3':'sk'">
                        <span matSuffix>KG</span>
                      </mat-form-field>
                      <!-- </ng-container> -->
                      <!-- [(ngModel)]="this.orderComponent.length <= i   ? this.packingOrderValue[i] = 0: this.packingOrderValue[i] = this.orderComponent[i].packingOrder "      -->
                    </p>
                  </div>


                </div>
              </mat-list-item>
              <!-- <mat-divider *ngIf="i !== selectedRecipe!.components!.length! - 1"></mat-divider> -->
            </ng-container>

            <span style="margin: auto" *ngIf="selectedRecipe!.components?.length === 0">{{'dialogOrder.noComponents'| translate}}</span>
          </mat-list>
        </div>

        <!-- <div class="order-form-field">
          <h3>Mixer ID</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Mixer ID"c min="1" max="4" type="number" formControlName="idMixer">
            <mat-error *ngIf="idMixer!.invalid">Valid mixer IDs are 1-4.</mat-error>
          </mat-form-field>
        </div> -->

        <div class="order-form-field">
          <h3>{{'dialogOrder.mixerID'| translate}}</h3>
          <mat-form-field appearance="outline">

            <mat-select formControlName="idMixer" placeholder="{{'dialogOrder.mixerID'| translate}}" c min="1" max="3" type="number">
              <mat-option *ngFor="let slecetIdMixer of 'selectIdMixers'|translate" [value]="slecetIdMixer.value">
                {{slecetIdMixer.viewValue}}
              </mat-option>
            </mat-select>
            
          </mat-form-field>
        </div>

        <div class="order-form-field">
          <h3>{{'dialogOrder.mixingTime'| translate}}</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'dialogOrder.mixingTime'| translate}}" type="number" min="1" formControlName="mixingTime">
            <span matSuffix>min</span>
          </mat-form-field>
        </div>

        <div class="order-form-field">
          <h3>{{'dialogOrder.packingMachineID'| translate}}</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'dialogOrder.packingMachineID'| translate}}" formControlName="idPackingMachine" min="1" max="9"
              type="number">
            <mat-error *ngIf="idPackingMachine!.invalid">{{'dialogOrder.idPackingMachine'| translate}}</mat-error>
          </mat-form-field>
        </div>

        <div class="order-form-field">
          <h3>{{'dialogOrder.emptyingStationID'| translate}}</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'dialogOrder.emptyingStationID'| translate}}" formControlName="idEmptyingStationBag" min="1" max="4"
              type="number">
            <mat-error *ngIf="idEmptyingStationBag!.invalid">{{'dialogOrder.idEmptyingStationBag'| translate}}</mat-error>
          </mat-form-field>
        </div>

        <div class="order-form-field">
          <h3>{{'dialogOrder.volumePerDose'| translate}}</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'dialogOrder.volumePerDose'| translate}}" type="number" min="50" max="700" formControlName="volumePerDose">
            <mat-error *ngIf="volumePerDose!.invalid">{{'dialogOrder.invalidVolumePerDose'| translate}}</mat-error>
            <span matSuffix>L</span>
          </mat-form-field>
        </div>


        <div class="order-form-field">
          <h3>{{'dialogOrder.package'| translate}}</h3>
          <mat-form-field appearance="outline">

            <mat-select formControlName="package" placeholder="{{'dialogOrder.package'| translate}}" c min="1" max="2" type="number" >
              <mat-option *ngFor="let slecetPackage of 'selectPackage'|translate" [value]="slecetPackage.value">
                {{slecetPackage.viewValue}}
              </mat-option>
            </mat-select>
            
          </mat-form-field>
        </div>

        <div class="order-form-field">
          <h3>{{'dialogOrder.operator'| translate}}</h3>
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'dialogOrder.operator'| translate}}" formControlName="operatorName" readonly>
          </mat-form-field>
        </div>

      </fieldset>
    </form>

    <div *ngIf="!isNew" class="order-time-container">
      <div class="order-time">
        <h3>{{'dialogOrder.createdAt'| translate}}</h3>
        <span>{{order?.createdAt | date: 'dd/MM/yyyy HH:mm':'UTC'}}</span>
      </div>
      <div class="order-time">
        <h3>{{'dialogOrder.lastUpdate'| translate}}</h3>
        <span>{{order?.lastUpdate | date: 'dd/MM/yyyy HH:mm':'UTC'}}</span>
      </div>
      <div *ngIf="order?.completedAt" class="order-time">
        <h3>{{'dialogOrder.completedAt'| translate}}</h3>
        <span>{{order?.completedAt | date: 'dd/MM/yyyy HH:mm':'UTC'}}</span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="backToOrder();">
      <mat-icon>arrow_back</mat-icon>
      {{'dialogService.back'| translate}}
    </button>
    <button mat-icon-button color="danger" aria-label="Edit item" (click)="onEditClick()" *ngIf="!editable">
      <mat-icon>edit</mat-icon>
      {{'dialogService.edit'| translate}}
    </button>
    <button mat-icon-button color="primary" aria-label="Edit item" (click)="offEditClick()" *ngIf="editable">
      <mat-icon>edit</mat-icon>
      {{'dialogService.edit'| translate}}
    </button>
    <button mat-icon-button color="danger" aria-label="Delete item" (click)="onDeleteClick()">
      <mat-icon>delete_forever</mat-icon>
      {{'dialogService.delete'| translate}}
    </button>

    <button mat-button (click)="recalculateRecipe()">
      <mat-icon>save</mat-icon>
      {{'dialogService.save'| translate}}
    </button>    
    
  </mat-card-actions>
</mat-card>