<div class="container">
<mat-card>
  <div id="section">
  
    <mat-card-title>{{'navBar.recalculate'|translate}}</mat-card-title>
    <mat-card-content>

      <fieldset  class="order-form-container-rec" style="padding-bottom:0px">
      



        <div class="order-form-field-rec">
          <!-- <h3>{{'recalculate.numberOfDoses'|translate}}</h3> -->
          <mat-form-field appearance="outline" style="width: 140px" class="note">
            <mat-label>{{'recalculate.numberOfDoses'|translate}}</mat-label>
            <input matInput placeholder="0001" readonly [value]="this.quantityPallete">
            <span matSuffix>x</span>
          </mat-form-field>
        </div>

        <div class="order-form-field-rec">
          <!-- <h3>{{'orderTableHead.1.item'|translate}}</h3> -->
          <mat-form-field appearance="outline" style="width: 100px" class="note">
            <mat-label>{{'orderTableHead.1.item'|translate}}</mat-label>
            <input matInput placeholder="0001" readonly [value]="this.data.selectedorder.id">
          </mat-form-field>
        </div>
        <div class="order-form-field-rec">
          <!-- <h3>{{'orderTableHead.2.item'|translate}}</h3> -->
          <mat-form-field appearance="outline" style="width: 170px" class="note">
            <mat-label>{{'orderTableHead.2.item'|translate}}</mat-label>
            <input matInput placeholder="0001" readonly [value]="this.data.selectedorder.name">
          </mat-form-field>
        </div>
        <div class="order-form-field-rec">
          <!-- <h3>{{'orderTableHead.3.item'|translate}}</h3> -->
          <mat-form-field appearance="outline" style="width: 170px" class="note">
            <mat-label>{{'orderTableHead.3.item'|translate}}</mat-label>
            <input matInput placeholder="0001" readonly [value]="this.data.selectedorder.customerName">
          </mat-form-field>
        </div>
        <div class="order-form-field-rec">
          <!-- <h3>{{'dialogOrder.packingMachineID'|translate}}</h3> -->
          <mat-form-field appearance="outline" style="width: 150px" class="note">
            <mat-label>{{'dialogOrder.packingMachineID'|translate}}</mat-label>
            <input matInput placeholder="0001" readonly [value]="this.data.selectedorder.idPackingMachine">
          </mat-form-field>
        </div>
        <div class="order-form-field-rec">
          <!-- <h3>{{'dialogOrder.emptyingStationID'|translate}}</h3> -->
          <mat-form-field appearance="outline" style="width: 150px" class="note">
            <mat-label>{{'dialogOrder.emptyingStationID'|translate}}</mat-label>
            <input matInput placeholder="0001" readonly [value]="this.data.selectedorder.idEmptyingStationBag">
          </mat-form-field>
        </div>
        <div class="order-form-field-rec">
          <!-- <h3>{{'dialogOrder.volumePerDose'|translate}}</h3> -->
          <mat-form-field appearance="outline" style="width: 150px" class="note">
            <mat-label>{{'dialogOrder.volumePerDose'|translate}}</mat-label>
            <input matInput placeholder="0001" readonly [value]="this.data.selectedorder.volumePerDose">
            <span matSuffix>l</span>
          </mat-form-field>
        </div>
        <div class="order-form-field-rec">
          <!-- <h3>{{'dialogOrder.quantity'|translate}}</h3> -->
          <mat-form-field appearance="outline" style="width: 110px" class="note">
            <mat-label>{{'dialogOrder.quantity'|translate}}</mat-label>
            <input matInput placeholder="0001" readonly [value]="this.data.selectedorder.quantity | number :'1.3-3':'sk' ">
            <span matSuffix>kg</span>
          </mat-form-field>
        </div>
        <div class="order-form-field-rec">
          <!-- <h3>{{'orderTableHead.4.item'|translate}}</h3> -->
          <mat-form-field appearance="outline" style="width: 110px" class="note">
            <mat-label>{{'orderTableHead.4.item'|translate}}</mat-label>
            <input matInput placeholder="0001" readonly
              [value]="this.data.selectedorder.dueDate | date : 'd.M.y' : 'UTC'">
          </mat-form-field>
        </div>
      </fieldset>
        <div style="flex-direction: column; width: 100%; margin-bottom: 20px " *ngIf="data.selectedRecipe?.components">
        
        <div style="flex: 1 1 0;">
          <mat-list>


            <ng-container *ngFor="let component of data.selectedRecipe?.components; let i = index" >
              <div *ngIf="!i">
                <mat-list-item>
                  <p style="float:left; " class="lineL">
                    <mat-form-field appearance="fill" style="width: 405px" class="note ">
                      <input matInput placeholder="000001" readonly value="{{'recalculate.components'|translate}}">
                    </mat-form-field>
                    <span class="line"></span>
                    <mat-form-field appearance="fill" style="width: 305px" class="note">
                      <mat-label>{{'recalculate.station'|translate}}</mat-label>
                      <input matInput placeholder="000001" readonly value="{{'recalculate.palette'|translate}}">
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill" style="width: 150px" class="note">
                      <mat-label>{{'recalculate.station'|translate}}</mat-label>
                      <input matInput placeholder="000001" readonly value="{{'recalculate.ADSline'|translate}}">
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill" style="width: 150px" class="note">
                      <mat-label>{{'recalculate.station'|translate}}</mat-label>
                      <input matInput placeholder="000001" readonly value="{{'recalculate.bigBagLine'|translate}}">
                    </mat-form-field>


                    <mat-form-field appearance="fill" style="width: 150px" class="note">
                      <mat-label>{{'recalculate.station'|translate}}</mat-label>
                      <input matInput placeholder="000001" readonly value="{{'recalculate.liquide'|translate}}">
                    </mat-form-field>

                    <mat-form-field appearance="fill" style="width: 150px" class="note">
                      <mat-label>{{'recalculate.station'|translate}}</mat-label>
                      <input matInput placeholder="000001" readonly value="{{'recalculate.micro'|translate}}">
                    </mat-form-field>
                  </p>
                </mat-list-item>
              </div>

              <mat-list-item>
                <div matLine>

                  <p style="float:left; " >

                    <mat-form-field appearance="outline" style="width: 150px" class="note" [ngClass]="{
                      gridC: i % 2 > 0
                    }">
                      <mat-label>{{'componentsTableHead.1.item'| translate}}</mat-label>
                      <input matInput placeholder="000001" readonly [value]="component.id">
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 250px" class="note " [ngClass]="{
                      gridC: i % 2 > 0
                    }">
                      <mat-label>{{'componentsTableHead.2.item'| translate}}</mat-label>
                      <input matInput placeholder="Paprika" readonly [value]="component.name">
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width: 150px" class="note" [ngClass]="{
                      gridC: i % 2 > 0,
                      hideItem: this.quantityBag[i] == 0 
                    }">
                      <mat-label>{{'componentsTableHead.1.item'| translate}}</mat-label>
                      <input matInput placeholder="1" readonly [value]="this.data.selectedorder.packingOrders[i].packingWeight | number :'1.1-3':'sk'">
                      <span matSuffix>kg</span>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 150px" class="note" [ngClass]="{
                      inputBackground: this.quantityBag[i] > 0,
                      gridC: i % 2 > 0,
                      hideItem: this.quantityBag[i] == 0 
                    }">
                      <mat-label>{{'recalculate.quantity'|translate}}</mat-label>
                      <input matInput placeholder="0.1" readonly [value]="this.quantityBag[i]">
                      <span matSuffix>x</span>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width: 150px" class="note" [ngClass]="{
                      gridC: i % 2 > 0,
                      hideItem: this.quantityADS[i] == 0 
                    }">
                      <mat-label>{{'recalculate.quantity'|translate}}</mat-label>
                      <input matInput placeholder="0.1" readonly [value]="this.quantityADS[i]| number :'1.1-3':'sk' ">
                      <span matSuffix>kg</span>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width: 150px" class="note" [ngClass]="{
                      gridC: i % 2 > 0,
                      hideItem: this.quantityBigBag[i] == 0 
                    }">
                      <mat-label>{{'recalculate.quantity'|translate}}</mat-label>
                      <input matInput placeholder="0.1" readonly [value]="this.quantityBigBag[i] | number :'1.1-3':'sk'">
                      <span matSuffix>kg</span>
                    </mat-form-field>




                    <mat-form-field appearance="outline" style="width: 150px" class="note" [ngClass]="{
                      gridC: i % 2 > 0,
                      hideItem: this.quantityLiquid[i] == 0 
                    }">
                      <mat-label>{{'recalculate.quantity'|translate}}</mat-label>
                      <input matInput placeholder="0.1" readonly [value]="this.quantityLiquid[i] | number :'1.1-3':'sk'">
                      <span matSuffix>kg</span>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width: 150px" class="note" [ngClass]="{
                      gridC: i % 2 > 0,
                      hideItem: this.quantityMicro[i] == 0 
                    }">
                      <mat-label>{{'recalculate.quantity'|translate}}</mat-label>
                      <input matInput placeholder="0.1" readonly [value]="this.quantityMicro[i] | number :'1.1-3':'sk'">
                      <span matSuffix>kg</span>
                    </mat-form-field>

                  </p>

                </div>
              </mat-list-item>

            </ng-container>
            <span style="margin: auto" *ngIf="data.selectedRecipe!.components?.length === 0">{{'dialogOrder.noComponents'| translate}}</span>
          </mat-list>
        </div>
      </div>
    </mat-card-content>
    <mat-toolbar style="height: 30px">
      <span style="font-weight: bold">{{'recalculate.weightPerDose'|translate}}</span>
      <span class="spacer"></span>
      <span
        >{{ weightPerDose | number :'1.3-3':'sk' }} kg / {{ volumePerDoseTank  }} l
        
        
      </span>
    </mat-toolbar>
  </div>

  <mat-card-actions>
  


    <button mat-button [mat-dialog-close]="false">{{'dialogService.cancel'|translate}}</button>
    <button mat-button [mat-dialog-close]="saveOrder()" *ngIf="data.editMode">
      {{'dialogService.save'|translate}}
    </button>   


  </mat-card-actions>
</mat-card>



<div>

</div>
  <!-- <section class="example-container mat-elevation-z8" tabindex="0">
  <table mat-table [dataSource]="dataSource" *ngFor="let table of tables">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      <td mat-footer-cell *matFooterCellDef> Position Footer </td>
    </ng-container>

    <ng-container matColumnDef="name" >
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      <td mat-footer-cell *matFooterCellDef> Name Footer </td>
    </ng-container>

    <ng-container matColumnDef="weight" >
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.componentSP}} </td>
      <td mat-footer-cell *matFooterCellDef> Weight Footer </td>
    </ng-container>

    <ng-container matColumnDef="symbol" >
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      <td mat-footer-cell *matFooterCellDef> Symbol Footer </td>
    </ng-container>

    <ng-container matColumnDef="filler">
      <th mat-header-cell *matHeaderCellDef> Filler header cell </th>
      <td mat-cell *matCellDef="let element"> Filler data cell </td>
      <td mat-footer-cell *matFooterCellDef> Filler footer cell </td>
    </ng-container> 

    <tr mat-header-row *matHeaderRowDef="displayedColumns; "></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; "></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr mat-footer-row *matFooterRowDef="displayedColumns; "></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; "></tr>
  </table>
</section> -->