<h1 mat-dialog-title>{{data.message}}</h1>
<div mat-dialog-content style="margin: auto">
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="{{'login.username' | translate}}" formControlName="username" name="username" autofocus>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="{{'login.password' | translate}}" formControlName="password" name="password">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">{{'dialogService.cancel' | translate}}</button>
  <button mat-button [mat-dialog-close]="form.value" [disabled]="!form.valid">{{'login.login' | translate}}</button>
</div>
